// style.scss

.videos-section {
    margin-top: 20px;
  
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #343a40;
    }
  
    .slick-slider {
      position: relative;
      max-width: 100%;
      margin: 0 auto;
  
      .slick-prev,
      .slick-next {
        font-size: 24px;
        color: #007bff;
        z-index: 1;
  
        &:hover {
          color: #0056b3;
        }
      }
  
      .slick-prev {
        left: 10px;
      }
  
      .slick-next {
        right: 10px;
      }
    }
  
    .slick-list {
      overflow: hidden;
  
      .slick-track {
        display: flex;
      }
  
      .slick-slide {
        margin: 0 10px;
  
        img {
          width: 100%;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s;
  
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  
    // Optional: Add styles for the dots if needed
    .slick-dots {
      li {
        button {
          font-size: 12px;
          color: #6c757d;
          transition: color 0.3s;
  
          &:hover {
            color: #343a40;
          }
        }
      }
    }
  }
  