.list-of-movies-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    .movies-table-container {
        background-color: #2c3e50;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        width: 90%;
        overflow-x: auto; // Scroll horizontally when needed
        h2.table-title {
            color: #ecf0f1;
            margin-bottom: 20px;
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: auto; // Change to auto to allow dynamic column widths
            th,
            td {
                padding: 12px;
                border-bottom: 1px solid #7f8c8d;
                text-align: left;
                word-wrap: break-word; // Ensures text doesn't overflow
            }
            th {
                background-color: #34495e;
                color: #ecf0f1;
            }
            tbody tr:hover {
                background-color: #34495e;
            }
        }
    }
    .delete-button {
        background: transparent;
        border: none;
        cursor: pointer;
        svg {
            color: #e74c3c;
        }
    }
    .snackbar {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #27ae60;
        color: #ecf0f1;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
}